*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.sign_up_container{
 
    width: 400px;
    height: 300px;
    border-radius: 40px;
    background: whitesmoke;
}
.sign_up_container h2{
   
   text-align: center;
    margin: 1rem 1rem;
    font-family: 'Times New Roman', Times, serif;
}
.sign_up_container p {
    padding: 1rem;
    text-align: center;
  
}

.logo{
 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.logo img{
   
    height: 30px;
    width: 40px;
  
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
input{
    width: 90%;
    padding: 0.5rem 2rem;
    text-align: center;
    border-radius: 10px;
 
    color: black;

}

.login_btn{
    transition: 0.2s ease-in-out;
}
.login_btn:hover{
    cursor: pointer;
    z-index: 1;
    transition: 0.2s ease-in;
    box-shadow: 0px 4px 24px #b5d6ee, inset 6px 6px 12px #5b7c96, inset -12px -12px 24px #3e90d0;
}
